@use "../helpers";

body{
    font-family: "Open Sans", sans-serif;
}

.section-title{
    color: var(--DarkPurple);
    font-size: helpers.rem-calc(70);
    line-height: helpers.rem-calc(65);

    text-align: center;
}

.button{
    background-color: var(--DarkerMint);
    padding: 10px 20px;
    margin: 20px;
    border: 3px solid var(--Black);
}

:root {
    background-color: var(--SkyBlue);
    --Black: #000000;
    --White: #ffffff;
    --LilyWhite: #ECF9FF;
    --MintBlue: #78ffe2;
    --DarkerMint: #21d1ab;
    --DarkPurple: #1b0038;
    --SkyBlue: #abebff;
}

#index{
    background-color: var(--SkyBlue);

    .index-wrapper{
        display: flex;
        align-items: center;
        gap: 3rem;
        justify-content: center;
    }

    .index-image{
        max-width: 25vw;
        height: auto;
        margin: 50px;
        display: block;
    }

    article{
        background-color: var(--MintBlue);
    }

    #index-content{
        flex: 1;
        margin: 50px;
    }
}

#about{
    background-color: var(--SkyBlue);

    article{
        background-color: var(--MintBlue);
        margin: 50px;
    }

}

#resume{
    background-color: var(--SkyBlue);

    article{
        background-color: var(--MintBlue);
        margin: 50px;
    }

}

#projects{
    background-color: var(--SkyBlue);

    article{
        background-color: var(--MintBlue);
        margin: 50px;
    }

}

#associations{
    background-color: var(--SkyBlue);

    .associations-wrapper{
        display: flex;
        align-items: center;
        gap: 3rem;
        justify-content: center;
    }

    .associations-image{
        max-width: 20vw;
        height: auto;
        margin: 50px;
        display: block;
    }

    article{
        background-color: var(--MintBlue);
        margin: 50px;
    }

}

#contact{
    background-color: var(--SkyBlue);

    article{
        background-color: var(--MintBlue);
        margin: 50px;
    }

}