@use "../helpers";

#about{
    background-color: var(--white);

    #about-content-container{
        ul{
            list-style-type: none;
        }
        li{
            list-style-type: none;
        }

        @include helpers.md{
            display: grid;
            grid-template-areas: "about-content"
                                "about-img";
            padding: 50px 5vw;
        }
    
        @include helpers.xl{
            grid-template-columns: 40% auto;
            grid-template-areas: "about-content about-img";
    
            max-width: 1200px;
            margin: 0 auto;
        }

        section{
            @include helpers.md{
                grid-area: about-content;
                padding: 0 15vw;
            }
    
            @include helpers.xl{
                padding: 0;
            }

            .about-sections{
                display: flex;
                align-items: center;

                .about-icons{
                    margin-left: -20px;
                }

                .about-text{
                    margin-left: 30px;
                }
            }
    
            h3{
                color: var(--NightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(24);
                line-height: helpers.rem-calc(34);
            }
            p{
                color: var(--Grey);
                font-weight: 600;
                font-size: helpers.rem-calc(16);
                line-height: helpers.rem-calc(28);
            }
        }

        aside{
            @include helpers.md{
                grid-area: about-img;
            }
        }
        
    }
}