@use "../helpers";

#hero{
    background-color: var(--LilyWhite);

    section{

        article{
            // h1{
            //     color: var(--NightBlue);
            //     font-size: helpers.rem-calc(50);
            // }

            p{
                color: var(--Grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
            }

            a:link, a:visited{
                background-color: var(--NightBlue);
                color: var(--white);
                font-size: helpers.rem-calc(14);
                font-weight: 600;
            }
            a:hover, a:focus{

            }

            button{
                background-color: var(--white);
            }
        }

        #hero-card{
            background-color: var(--Snowdrop);
            h5{
                color: var(--NightBlue);
                font-weight: 600;
                line-size: helpers.rem-calc(14);
            }
            p{
                font-size: helpers.rem-calc(14);
                font-weight: 600;
                line-height: helpers.rem-calc(24);
            }
        }

    }
}

