@use "../helpers";

#newsletter{

    #newsletter-content{
        background-color: var(--LilyWhite);
        padding: 60px 16px;

        @include helpers.md{
            padding: 60px 20vw;
        }

        @include helpers.lg{
            display: grid;
            grid-template-columns: 70% auto;
            padding: 60px 16px;
            gap: 74px;
        }

        @include helpers.xl{
            width: 1200px;
            margin: 0 auto;
        }

    // h1{
    //     color: var(--NightBlue);
    // }

        p{
            color: var(--Grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin: 16px 0;
        }

        form{

            input{
                border: none;
                color: var(--Grey);
                font-weight: 600;
                width: 100%;
                padding: 24px 8px;
                box-sizing: border-box;
                border-radius: 8px;
                margin-bottom: 16px;
            }

            button{
                border: none;
                background-color: var(--NightBlue);
                color: var(--white);
                font-size: helpers.rem-calc(14);
                font-weight: 600;
            }

        }

        aside{
            display: none;

            @include helpers.lg{
                display: block;
            }

            img{
                margin-top: -120px;
            }
        }
    }

}