@use "../helpers";

#packages{
    background-color: var(--LilyWhite);

    // h1{
    //     color: var(--NightBlue);
    // }

    #package-button-container{
        background-color: var(--white);

        button{
            border: none;
        }

    }

    #package-card-container{
        .package-card{
            background-color: var(--GhostWhite);
            border: 1px solid var(--white);

            p{
                color: var(--NightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(20);
                line-height: helpers.rem-calc(28);
            }

            h4{
                color: var(--Grey);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
            }

            h3{
                color: var(--Aqua);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
            }

        }

        .selected{
            background-color: var(--white);
        }
    }
}